.App {
    font-family: monospace;
  }
  .sidebar-css{
    display: flex;
    flex-direction: column;
    display: inline-block;
    padding: 20px;
}
.rounded-image {
    border-radius: 50%;
    overflow: hidden;
}
.admin-panel{
    display: flex;
    flex-direction: column;
}