.App {
    
    display: flex;
  }
  .Home{
    
    display: block;
  }
  .sidebar-css{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    outline: 1px solid chocolate;
    display: inline-block;
    position: fixed;
}
.main-content{
    margin-left: 258px;
    
}
.rounded-image {
    border-radius: 50%;
    overflow: hidden;
}
.admin-panel{
    display: flex;
    flex-direction: column;
}